body {
  font-family: 'Lato', sans-serif;
  font-size: 16px
}

img {
  width: 300px;
}

body.active {
  overflow: hidden;
  z-index: -1
}

.no-js #experience-timeline>div {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dcd9d9
}

.no-js #experience-timeline>div h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  display: inline-block;
  margin: 0
}

.no-js #experience-timeline>div h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0
}

.no-js #experience-timeline>div p {
  color: #74808a;
  font-size: 0.9em;
  margin: 0
}

.no-js #experience-timeline:before, .no-js #experience-timeline:after {
  content: none
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s
}

header ul {
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

header li {
  display: inline-block
}

header a {
  display: block;
  color: #3498db;
  padding: 10px
}

header a:hover {
  color: #217dbb;
  text-decoration: none;
  background: #eee;
  border-radius: 4px
}

header a:focus {
  color: #3498db;
  text-decoration: none
}

header.active {
  display: block
}

header.sticky {
  position: fixed;
  z-index: 999
}

#menu.active {
  display: block
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: #3498db;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  background: #fff;
  font-size: 1.5em;
  padding-right: 15px;
  padding-top: 10px;
  cursor: pointer;
  color: #3498db
}

#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase
}

#mobile-menu-close i {
  vertical-align: middle
}

footer {
  padding: 50px 0
}

.copyright {
  padding-top: 20px
}

.copyright p {
  margin: 0;
  color: #74808a
}

.top {
  text-align: center
}

.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #b9bfc4;
  text-align: center
}

.top i {
  color: #74808a
}

.social {
  text-align: right
}

.social ul {
  margin: 5px 0 0 0;
  padding: 0
}

.social li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none
}

.social a {
  display: block;
  color: #74808a;
  padding: 10px
}

.social a:hover {
  color: #3498db
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: .5s ease all
}

.btn-rounded-white:hover {
  color: #3498db;
  background: #fff;
  text-decoration: none
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0
}

.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #3498db
}

.background-alt {
  background: #f2f2f5
}

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(../images/macbook.jpg);
  background-size: cover;
  padding: 15px;
  overflow: hidden
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

#lead-content h1, #lead-content h2 {
  margin: 0
}

#lead-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em
}

#lead-content h2 {
  color: #a0cfee;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 125, 187, 0.8);
  z-index: 1
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff
}

#lead-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #a0cfee;
  text-align: center
}

#lead-down i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1)
  }
  50% {
    transform: scale(1.2, 1.2)
  }
  100% {
    transform: scale(1, 1)
  }
}

#about {
  padding: 75px 15px;
  border-bottom: 1px solid #dcd9d9
}

#about h2 {
  color: #374054
}

#about p {
  color: #74808a;
  margin: 0
}

#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9
}

#experience h2 {
  color: #374054
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px
}

#experience-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #3498db;
  z-index: 0
}

#experience-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: #3498db;
  background: linear-gradient(to bottom, #3498db, rgba(52, 152, 219, 0));
  top: 100%;
  left: 303px
}

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left
}

.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  display: inline-block;
  margin: 0
}

.vtimeline-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0
}

.vtimeline-content p {
  color: #74808a;
  font-size: 0.9em;
  margin: 0
}

.vtimeline-point {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #3498db;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px
}

.vtimeline-icon i {
  display: block;
  font-size: 2em;
  margin-top: 10px
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054
}

#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center
}

#education h2 {
  color: #374054;
  margin-bottom: 50px
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left
}

.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #374054
}

.education-block span {
  color: #74808a;
  float: right
}

.education-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.education-block p, .education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em
}

.education-block ul {
  padding: 0 0 0 15px
}

#projects {
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center
}

#projects h2 {
  color: #374054;
  margin-bottom: 50px
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px
}

.project-image {
  float: left
}

.project-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px
}

.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  margin: 0 0 15px 0
}

.project-info p {
  color: #74808a;
  margin: 0 0 15px 0;
  font-size: 0.9em
}

.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  transform: none
}

#more-projects {
  display: none
}

#skills {
  padding: 50px 15px;
  text-align: center
}

#skills h2 {
  color: #374054;
  margin-bottom: 50px
}

#skills ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px
}

#skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 1.2em
}

#contact {
  padding: 50px 15px;
  background: #3498db;
  text-align: center
}

#contact h2 {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 500
}

#contact-form {
  max-width: 500px;
  margin: 0 auto
}

#contact-form input, #contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #1d6fa5;
  color: #fff;
  transition: .5s ease all
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  color: #fff
}

#contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
  color: #fff;
  opacity: 1
}

#contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
  color: #fff;
  opacity: 1
}

#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  color: #fff
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  background: #16527a
}

#contact-form textarea {
  height: 150px;
  resize: none
}

#contact-form button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: .5s ease all
}

#contact-form button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.optional-section {
  padding: 50px 15px;
  text-align: center;
  border-top: 1px solid #dcd9d9
}

.optional-section h2 {
  color: #374054
}

.optional-section-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  background: #fff;
  text-align: left
}

.optional-section-block h3 {
  font-weight: 500;
  margin: 0 0 15px 0;
  color: #374054
}

.optional-section-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.optional-section-block p, .optional-section-block ul {
  margin: 0 0 15px 0;
  color: #74808a;
  font-size: 0.9em
}

.optional-section-block ul {
  padding: 0 0 0 15px
}

@media only screen and (max-width: 750px) {
  #experience-timeline:before, #experience-timeline:after {
    left: 23px
  }
  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px
  }
  .vtimeline-icon {
    margin-left: 0
  }
  .vtimeline-content {
    margin-left: 70px
  }
}

@media only screen and (max-width: 992px) {
  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px
  }
  #lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto
  }
  #lead-content h1 {
    font-size: 3em
  }
  #lead-content h2 {
    font-size: 1.75em
  }
  #about {
    text-align: center
  }
  #about p {
    text-align: left
  }
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%
  }
  #mobile-menu-open, #mobile-menu-close {
    display: block
  }
  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%
  }
  #menu li {
    display: block;
    margin-bottom: 10px
  }
  #lead-content h1 {
    font-size: 2em
  }
  #lead-content h2 {
    font-size: 1.3em
  }
  #lead-content a {
    padding: 10px 20px
  }
  #lead-down {
    display: none
  }
  .education-block h3, .education-block span {
    float: none
  }
  .project-image {
    display: none
  }
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none
  }
  footer {
    text-align: center
  }
  .social {
    text-align: center
  }
}

@media only screen and (max-width: 480px) {
  #lead-content h1 {
    font-size: 1.5em
  }
  #lead-content h2 {
    font-size: 1em
  }
  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px
  }
}


.parallax {
  perspective: 1px;
  perspective-origin: center;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  height: 100vh;
}

.parallax .group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax .layer {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#city1 {
  fill: #111115;
  transform: translateZ(.25px) scale(.75) translateY(-1vh);
}

#city2 {
  fill: #12161e;
  transform: translateZ(0px) scale(1) translateY(-1vh);
}

#city3 {
  fill: #19202f;
  transform: translateZ(-.25px) scale(1.25) translateY(-1vh);
}

#city4 {
  fill: #222032;
  transform: translateZ(-.5px) scale(1.5) translateY(-1vh);
}

#city5 {
  /* display: none; */
  fill: #15172a;
  transform: translateZ(-.75px) scale(1.75) translateY(-1vh);
}

#mountain1 {
  /* display: none; */
  fill: #202a5c;
  transform: translateZ(-2.25px) scale(3.25) translateY(-1vh);
}

#mountain2 {
  /* display: none; */
  fill: #4a4d82;
  transform: translateZ(-2.5px) scale(3.5) translateY(-1vh);
}

#mountain3 {
  /* display: none; */
  fill: #5f5d99;
  transform: translateZ(-3px) scale(4) translateY(-10vh);
  height: 50vh;
}

#mountain4 {
  display: none;
  fill: #8a7d9e;
  transform: translateZ(-3.5px) scale(4.5) translateY(-20vh);
  height: 30vh;
}

#sun {
  fill: #ff7e00;
  transform: translateZ(-6px) scale(7) translateY(-25vh);
  height: 25vh;
}

.city2-front {
  background: #12161e;
  width: 100vw;
  height: 30vh;
  position: relative;
  margin-top: -5px;
}

.city-front {
  position: relative;
  margin-top: -5px;
  background-color: #111115;
  width: 100vw;
  height: 125vh;
}

.site_name {
  color: #FFF;
  display: inline-block;
  margin: 0 0 0 20px;
}




_______________________________________











@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%
  }
  #mobile-menu-open, #mobile-menu-close {
    display: block
  }
  #menu {
    position: absolute;
    top: 0;
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  #lead-content h1 {
    font-size: 2em
  }
  #lead-content h2 {
    font-size: 1.3em
  }
  #lead-content a {
    padding: 10px 20px
  }
  #lead-down {
    display: none
  }
  .education-block h3, .education-block span {
    float: none
  }
  .project-image {
    display: none
  }
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none
  }
  footer {
    text-align: center
  }
  footer {
    padding: 50px 0
  }

  .copyright {
    padding-top: 20px;
  }
  .copyright p {
    margin: 0;
    color: #74808a
  }
  .top {
    text-align: center
  }
  .top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center
  }
  footer {
    text-align: center;
  }
}


@media only screen and (max-width: 480px) {
  #lead-content h1 {
    font-size: 1.5em
  }
  #lead-content h2 {
    font-size: 1em
  }
  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px
  }
}

@media only screen and (max-width: 992px) {
  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px
  }
  #lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto
  }
  #lead-content h1 {
    font-size: 3em
  }
  #lead-content h2 {
    font-size: 1.75em;
  }
  #about {
    text-align: center;
  }
  #about p {
    text-align: left;
  }
}



@media only screen and (max-width: 750px) {
  #experience-timeline:before, #experience-timeline:after {
    left: 23px
  }
  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px
  }
  .vtimeline-icon {
    margin-left: 0
  }
  .vtimeline-content {
    margin-left: 70px
  }
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cc9999;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
  input:checked+.slider {
    background-color: black;
  }
  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }



  #contact h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500;
  }

  #contact-icons li {
    display: inline-block;
    font-size: 2.5em;
    list-style: none;
    padding: 15px;
  }

  #contact-icons a {
    /* display: block; */
    color: #74808a;
    padding: 10px
  }

  #contact-icons a:hover {
    color: white;

  }








  <div id="menu">
    <ul class="">
    <li class="">
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="#skills">Skills</a>
    </li>
    <li>
      <a href="#experience">Experience</a>
    </li>
    <li>
      <a href="#education">Education</a>
    </li>

  </ul>
  </div>



  <div id="about">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                <img id='headshot' src='./images/headshot.png' width='160px'>
                  <h2 class="heading">About Me</h2>
              </div>
              <div class="col-md-8">
                <!-- <img id='graphic' src='images/graphic-steph.png'> -->
                  <p>
                      Apart from programming, my other passions include fitness, weight-lifting, jogging, food, Photoshop, painting, novels, and science fiction.
                      <br>
                      I'm a <strong>huge</strong> music fan!  On the weekends you can find me at a concert, or enjoying a delicious meal and sipping a cold beer with friends.
                  </p>
              </div>
          </div>
      </div>
  </div>
  <!-- End #about -->

  <div id="projects" class="background-alt">
      <h2 class="heading">Projects</h2>
      <div class="container">
          <div class="row">
              <div class="project shadow-large">
                  <div class="project-image">
                      <img src="images/wegot.jpg" />
                  </div>
                  <!-- End .project-image -->
                  <div class="project-info">
                      <h3>WeGot - Restaurant Reviews Application</h3>
                      <p>
                        <ul>
                          <li>
                            Scaled out back-end of a microservices app to achieve 1,750 RPS with 50M+ data entries and reduced latency by 600%
                          </li>
                          <li>
                            Benchmarked MongoDB and mySQL queries to compare SQL vs noSQL performance, identified slow read queries and indexed Mongo
                          </li>
                          <li>
                            Load-tested with Artillery and used New Relic to identify largest attributor to latency
                          </li>
                          <li>
                            Implemented Redis caching to decrease database retrieval time, taking average response-time from 800ms to 60ms
                          </li>
                        </ul>

                      </p>
                      <!-- <a href="#">View Project</a> -->
                  </div>
                  <!-- End .project-info -->
              </div>
              <!-- End .project -->

              <div class="project shadow-large">
                  <div class="project-image">
                      <img src="images/hiit.png" />
                  </div>
                  <!-- End .project-image -->
                  <div class="project-info">
                      <h3>HIIT it! - Customizable HIIT Workout Application</h3>
                      <p>
                        <ul>
                          <li>
                            Built a modular React/Redux app with Node and Express that allows users to create fully customizable circuit workouts
                          </li>
                          <li>
                            Added functionality allows users to pull in images and videos from YouTube and Instagram for maximal integrability and compatibility
                          </li>
                          <li>
                            Used Moment to create responsive countdown timer with different phase cycles, configured to the users’ exact specifications
                          </li>
                          <li>
                            Leveraged SASS to design intuitive interface & interactive features for enhanced UX and responsive web design
                          </li>
                        </ul>

                      </p>
                      <!-- <a href="#">View Project</a> -->
                  </div>
                  <!-- End .project-info -->
              </div>
              <!-- End .project -->

              <div class="project shadow-large">
                  <div class="project-image">
                      <img src="images/hackbnb.png" />
                  </div>
                  <!-- End .project-image -->
                  <div class="project-info">
                      <h3>HackBnB - AirBnB-Style, Lodging Application</h3>
                      <p>
                        <ul>
                          <li>
                            Designed and deployed with AWS a bookings widget that rendered listing data from AirBnb API
                          </li>
                          <li>
                            Used BrowserStack for cross-browser testing to ensure optimized compatibility across popular user combinations of browser and OS
                          </li>
                          <li>
                            Implemented React server-side rendering to improve SEO and page load times
                          </li>
                          <li>
                            Increased modularity and loose coupling with Docker and Service-Oriented Architecture, SEO
                          </li>
                        </ul>
                       </p>
                      <!-- <a href="#">View Project</a> -->
                  </div>
                  <!-- End .project-info -->
              </div>
              <!-- End .project -->


          </div>
      </div>
  </div>
  <!-- End #projects -->


  <div id="skills">
    <h2 class="heading">Skills</h2>
    <ul>
      <li>JavaScript ES6 & ES5</li>
      <li>React JS</li>
      <li>Redux</li>
      <li>Node.js</li>
      <li>Express</li>
      <li>AngularJs</li>
      <li>Backbone</li>
      <li>Redis</li>
      <li>Docker</li>
      <li>Amazon Web Services (AWS), EC2</li>
      <li>Databases: SQl & noSQL</li>
      <li>mySQL</li>
      <li>MongoDB / Mongoose</li>
      <li>Test Driven Development TDD</li>
      <li>Chai, Mocha, Jasmine</li>
      <li>Jest, Enzyme, Jenkins</li>
      <li>HTML</li>
      <li>CSS / SASS</li>
      <li>Redis</li>
      <li>NPM</li>
      <li>GIT</li>
      <li>Service-oriented architecture SOA</li>
    </ul>
  </div>
  <!-- End #skills -->


  <div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>




    <div id="experience-timeline">
        <div data-date="July 2015 – Dec 2017">
            <h3>Deloitte Consulting LLP</h3>
            <h4>Project Consultant</h4>
            <p>
              <ul>
                <li>Worked with senior leadership on annual planning, utilized historical data and market conditions to determine realistic fiscal targets</li>
                <li>Built tools and ad-hoc Excel models to forecast revenue streams, billings, profit margins</li>
                <li>Conducted budget vs. actual analysis for accounts with annual revenue of $50M+</li>
              </ul>
            </p>
        </div>

        <div data-date="Jan 2016 – Aug 2016">
          <h3>Sun & Cobalt - Athleisure Apparel Startup</h3>
          <h4>Lead Graphic Designer</h4>
            <p>
              <ul>
                <li>Created original content including marketing ads, templates, and brochures for various social media platforms with 10K+ followers</li>
                <li>Conducted market research and analysis on similar brands to deliver effective and relevant content</li>
                <li>Utilized search engine optimization to implement tactics to increase traffic across all our platforms</li>
              </ul>
            </p>
        </div>
    </div>





  </div>
  <!-- End #experience -->

  <div id="education">
      <h2 class="heading">Education</h2>
      <div class="education-block">
          <h3>University of California, Davis </h3>
          <span class="education-date">Sept 2010 - June 2015</span>
          <br>
          <br>
          <div> B.S. in General Mathematics</div>
          <div> B.S. in Managerial Economics</div>
          <span>
            GPA: 3.88 / 4.00 <br>
          </span>
          <br>
          <div>Activities</div>
          <ul>
            <li>
              Delta Sigma Pi Professional Business Fraternity:
              <ul>
                <li>
                Senior Vice President
                </li>
                <li>
                Banquet Coordinator
                </li>
                <li>
                Data Analytics Specialist
                </li>
                <li>
                Vice President of Financial Activities
                </li>
              </ul>
            </li>
            <li>
              Business Career & Networking Club (BCNC):
              <ul>
                  <li>
                    Founding member
                  </li>
                  <li>
                    Activities Coordinator
                  </li>
                  <li>
                    Fundraising Chair
                  </li>
            </li>
          </ul>
            <li>
              Dean's Honor List, Letters and Science
            </li>
          </ul>
      </div>
      <!-- End .education-block -->

      <div class="education-block">
          <h3>Hack Reactor, San Francisco</h3>
          <span class="education-date">Jan  2018 - April 2018</span>
          <h4>Advanced Software Engineering Immersive Program</h4>
      </div>
      <!-- End .education-block -->
  </div>
  <!-- End #education -->




          <div class='social col-right'>
            <ul>
              <li>
                <a href="mailto:contactstephanief@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://github.com/stephfunny" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://linkedin.com/in/stephanie-fong" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://Instagram.com/stephhhfunny" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
