body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* background: rgb(225,225,225); */
  margin: 0px;
}
#contact-icons li:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(10deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.0deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

#logo {
  /* width: 400px; */
  width: 70%;
  /* margin: 0px 10px */
}

#graphic {
  /* width: 800px; */
  width: 80%;

}

#headshot {
  width: 160px;
  /* position: absolute; */
  margin-bottom: -55px;
  margin-right: 10px;
}

body.active {
  overflow: hidden;
  z-index: -1
}

#skills li:hover {
  background: grey;
  color: white;
  /* cursor: pointer; */
}
.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: .5s ease all;
  text-decoration: none;
}

.btn-rounded-white:hover {
  color: grey;
  background: white;
  text-decoration: none
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s
}

header ul {
  display: inline-block;
  background: rgb(250, 250, 250, .5);
  text-align: center;
  padding: 10px;
  margin: 0;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
}

header li {
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
}

header a {
  color: RGB(40, 40, 40);
  padding: 15px;
  text-decoration: none;
}

header a:focus {
  text-decoration: none
}

header.active {
  /* display: block */
}

header.sticky {
  position: fixed;
  z-index: 999
}

header a {
  /* padding: 1.0em .5em; */
  display: inline-block;
  /* vertical-align: super; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

header a:hover {
  color: rgb(200, 150, 145);
}

header a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 50%;
  top: 75%;
  background: rgb(200, 150, 145);
  height: 1.0em;
  border-radius: 0em;
  transform: translateY(-2px);
  transition-property: transform, left, right;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

header a:hover:before, header a:focus:before, header a:active:before {
  transform: translateY(0);
  left: 0;
  right: 0;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0
}

.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #a16262;
}

#menu.active {
  display: block;
}
#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: #3498db;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  background: #fff;
  font-size: 1.5em;
  padding-right: 15px;
  padding-top: 10px;
  cursor: pointer;
  color: #3498db
}

#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase
}

#mobile-menu-close i {
  vertical-align: middle
}
footer {
  padding: 50px 0
}

.copyright {
  padding-top: 20px
}

.copyright p {
  /* margin: 0; */
  /* color: #74808a */
}

.top {
  text-align: center;
}

.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #b9bfc4;
  text-align: center;
}

.top i {
  color: #74808a;
}

.social ul {
  margin: 5px 0 0 0;
  padding: 0;
}

.social li {
  /* display: block; */
  font-size: 3.5em;
  list-style: none;
}

.social a {
  display: block;
  color: #74808a;
  padding: 10px
}

.social a:hover {
  color: #cc9999
}

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(../images/macbook-2.png);
  background-size: cover;
  overflow: hidden;
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#lead-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em
}

#lead-content h2 {
  color: #cc9999;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(224, 224, 224, 0.8);
  z-index: 1
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff
}

#lead-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #cc9999;
  text-align: center
}

#lead-down i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px
}
#left-sidebar {
  padding: 15px;
  position: sticky;
  top: 0;
  right: 0;
  float:right;
  /* left: 0; */
  /* width: 100%; */
  text-align: right;
  z-index: 12;
  /* bottom: 15px; */
  /* color: rgb(255,255,255); */
  /* color: black; */
  display: inline-block;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1)
  }
  50% {
    transform: scale(1.2, 1.2)
  }
  100% {
    transform: scale(1, 1)
  }
}

#about {
  padding: 75px 15px;
  border-bottom: 1px solid #cc9999;
  margin-right: 100px;

}

#about h2 {
  color: #374054
}

#about p {
  color: #74808a;
  margin: 0
}

#experience {
  padding: 50px 15px;
  margin-right: 100px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9
}

#experience h2 {
  color: #374054
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px
}

#experience-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 203px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #cc9999;
  z-index: 0
}

#experience-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: #cc9999;
  background: linear-gradient(to bottom, #cc9999, rgba(52, 152, 219, 0));
  top: 100%;
  left: 203px
}

.vtimeline-content {
  margin-left: 250px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left
}

.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  display: inline-block;
  margin: 0
}

.vtimeline-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0
}

.vtimeline-content p {
  color: #74808a;
  font-size: 0.9em;
  margin: 0
}

.vtimeline-point {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #cc9999;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 180px
}

.vtimeline-icon i {
  display: block;
  font-size: 2em;
  margin-top: 10px
}

.vtimeline-date {
  width: 170px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054
}

#education {
  padding: 50px 15px 20px 15px;
  /* padding-right: 30px; */
  border-bottom: 1px solid #dcd9d9;
  text-align: center
}

#education h2 {
  color: #374054;
  margin-bottom: 50px
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left
}

.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #374054
}

.education-block span {
  color: #74808a;
  float: right
}

.education-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.education-block p, .education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em
}

.education-block ul {
  padding: 0 0 0 15px
}

#projects {
  padding: 50px 15px;
  margin-right: 100px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;

}

#projects h2 {
  color: #374054;
  margin-bottom: 50px
}

#projects img {
  width: 300px;
  margin: 5px;
  /* border: 1px solid grey; */
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  border: 1px solid grey;
}

.project-image {
  float: left;
}

.project-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px
}

.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  margin: 0 0 15px 0
}

.project-info p {
  color: #74808a;
  margin: 0 0 15px 0;
  font-size: 0.9em
}

.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  transform: none
}

#more-projects {
  display: none
}

#skills {
  padding: 50px 15px;
  text-align: center
}

#skills h2 {
  color: #374054;
  margin-bottom: 50px;

}

#skills ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

#skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 1.2em
}

#contact {
  padding: 50px 15px;
  background: #cc9999;
  text-align: center;
  font-size: 20px;
  /* display: inline-block; */
}

#contact h2 {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 500;
}


#contact-icons li {
  display: inline-block;
  font-size: 3.5em;
  list-style: none;
  padding: 15px;
}

#contact-icons a {
  /* display: block; */
  color: #74808a;
  padding: 10px
}

#contact-icons a:hover {
  color: white;

}

#contact-form button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #cc9999;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: .5s ease all
}

#contact-form button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.optional-section {
  padding: 50px 15px;
  text-align: center;
  border-top: 1px solid #dcd9d9
}

.optional-section h2 {
  color: #374054
}

.optional-section-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  background: #fff;
  text-align: left
}

.optional-section-block h3 {
  font-weight: 500;
  margin: 0 0 15px 0;
  color: #374054
}

.optional-section-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.optional-section-block p, .optional-section-block ul {
  margin: 0 0 15px 0;
  color: #74808a;
  font-size: 0.9em
}

.optional-section-block ul {
  padding: 0 0 0 15px
}

@media only screen and (max-width: 750px) {
  #experience-timeline:before, #experience-timeline:after {
    left: 23px
  }
  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px
  }
  .vtimeline-icon {
    margin-left: 0
  }
  .vtimeline-content {
    margin-left: 70px
  }
}

@media only screen and (max-width: 992px) {
  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px
  }
  #lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto
  }
  #lead-content h1 {
    font-size: 3em
  }
  #lead-content h2 {
    font-size: 1.75em;
  }
  #about {
    text-align: center;
  }
  #about p {
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%
  }
  #mobile-menu-open, #mobile-menu-close {
    display: block
  }
  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  #lead-content h1 {
    font-size: 2em
  }
  #lead-content h2 {
    font-size: 1.3em
  }
  #lead-content a {
    padding: 10px 20px
  }
  #lead-down {
    display: none
  }
  .education-block h3, .education-block span {
    float: none
  }
  .project-image {
    display: none
  }
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none
  }
  footer {
    text-align: center
  }
  footer {
    padding: 50px 0
  }

  .copyright {
    padding-top: 20px;
  }
  .copyright p {
    margin: 0;
    color: #74808a
  }
  .top {
    text-align: center
  }
  .top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center
  }
  footer {
    text-align: center;
  }
}
footer {
  text-align: center
}
@media only screen and (max-width: 480px) {
  #lead-content h1 {
    font-size: 1.5em
  }
  #lead-content h2 {
    font-size: 1em
  }
  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px
  }
}
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cc9999;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
  input:checked+.slider {
    background-color: black;
  }
  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
